<h1>Employees</h1>
<ul>
  <% @employees.each do | employee | %>
    <li>
      <b>Name:</b> <%= employee.firstname %> <%= employee.lastname %> | <b>Email:</b> <%= employee.email %>
    </li>
  <% end %>
</ul>
