<h1>Employees</h1>
<ul>
  <% @employees.each do | employee | %>
    <li>
      <b>Name:</b> <%= employee.first_name %> <%= employee.last_name %> | <b>Email:</b> <%= employee.email %>
    </li>
  <% end %>
</ul>
